.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    border: 3px solid black;
    color: black;
    background-color: aquamarine;
    border-radius: 10px;
    margin: 10px 0px;
    width: 70%;
    padding: 10px 20px;
}

.author {
    text-align: right;
    font-style: italic;
    border-bottom: 2px solid grey;
    margin-bottom: 7px;
}

.title {
    margin: 30px;
}

.content {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}